<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwasfy.localize">
    <application>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <meta-data
            android:name="android.support.locale_config"
            android:resource="@xml/locale_config" />
    </application>
</manifest>
